* {
  font-family: "Fira Sans", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}

@define-color col1 #ffffff;
@define-color col2 #000000;
@define-color col3 green;

button {
  border: none;
  border-radius: 0;
}
button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

tooltip {
  border-radius: 10px;
  background-color: @col2;
  opacity: 0.8;
  padding: 20px;
  margin: 0px;
}

tooltip label {
  color: @col1;
}

/* */

#workspaces button {
  color: @col1;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

#workspaces button.active {
  color: @col3;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background: transparent;
}

/* */

#waybar {
  background:transparent;
}

#window {
  color: @col1;
  font-size: 1.3rem;
}

/* */

#custom-avocado,
#clock,
#pulseaudio,
#network,
#bluetooth,
#battery,
#backlight {
  color: @col1;
  font-size: 1.3rem;
  margin: 5px 10px;
}

/* */

#pulseaudio.muted {
  color: @col2;
}

/* */

#network.ethernet {
  color: @col3;
}
#network.wifi {
  color: @color1;
}

/* */

#bluetooth.on {
  color: @col1;
}

#bluetooth.connected {
  color: @col3;
}

#bluetooth.off {
  color: @col1;
}

/* */

#battery.charging,
#battery.plugged {
  color: @col3;
}

@keyframes blink {
  to {
    color: @col2;
  }
}

#battery.critical:not(.charging) {
  color: red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
