* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}

@define-color col1 #ffffff;
@define-color col2 #000000;
@define-color col3 #ef476f;

/* */
#window,
#tray,
#tray menu,
#tray > .passive,
#tray > .needs-attention,
#group-hardware,
#custom-avocado,
#custom-wlogout,
#clock,
#pulseaudio,
#network,
#bluetooth,
#battery,
#backlight {
  color: @col1;
  font-size: 1rem;
  margin: 5px 10px;
}

button {
  border: none;
  border-radius: 0;
}
button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

tooltip {
  border-radius: 10px;
  background-color: @col2;
  opacity: 0.8;
  padding: 20px;
  margin: 0px;
}

tooltip label {
  color: @col1;
}

/* */

#workspaces button {
  color: @col1;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  font-size: .6rem;
}

#workspaces button.active {
  color: @col3;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

#workspaces button:hover {
  background: transparent;
}

/* */

#waybar {
  background: transparent;
}

/* */

#pulseaudio.muted {
  color: @col3;
}

/* */

#network.ethernet {
  color: @col1;
}
#network.wifi {
  color: @color1;
}

#network.linked {
  color: @col1;
}

/* */

#bluetooth.on {
  color: @col1;
}

#bluetooth.connected {
  color: @col3;
}

#bluetooth.off {
  color: @col1;
}

/* */

#battery.charging,
#battery.plugged {
  color: @col3;
}

#battery.critical:not(.charging),
#network.disabled,
#network.disconnected {
  color: @col3;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: @col2;
  }
}
