* {
  font-family: Fira Sans Regular, Roboto, Helvetica, Arial, sans-serif;
}

/*

  avocado palette
  peel:6A994E, seed:BC4749, pulp:F2E8CF

*/

@define-color pulp #F2E8CF;
@define-color peel #6A994E;
@define-color seed #BC4749;

#window {
  font-family: Cartograph CF;
}

#window,
#tray,
#tray menu,
#tray > .passive,
#tray > .needs-attention,
#group-hardware,
#custom-avocado,
#custom-wlogout,
#clock,
#pulseaudio,
#network,
#battery,
#backlight {
  color: @pulp;
  font-size: 1rem;
  margin: 5px 10px;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

tooltip {
  border-radius: 10px;
  background-color: @seed;
  padding: 20px;
  margin: 0px;
}

tooltip label {
  color: @pulp;
}

/* */

#workspaces button {
  color: @pulp;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  font-size: .6rem;
}

#workspaces button.active {
  color: @peel;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

#workspaces button:hover, #waybar {
  background: transparent;
}

/* */

#pulseaudio.muted {
  color: @seed;
}

/* */

#network.ethernet, #network.wifi, #network.linked  {
  color: @pulp;
}

/* */

#battery.charging,
#battery.plugged {
  color: @peel;
}

#battery.critical:not(.charging),
#network.disabled,
#network.disconnected {
  color: @pulp;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: @seed;
  }
}
