* {
  background-image: none;
}

window {
  background-color: rgba(0, 0, 0, 0.774);
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5%;
}

#suspend {
  background-image: image(url("icons/suspend.png"), url("icons/suspend.png"));
}

#hibernate {
  background-image: image(
    url("icons/hibernate.png"),
    url("icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(url("icons/shutdown.png"), url("icons/shutdown.png"));
}
